<?xml version="1.0" encoding="UTF-8"?>

<module configVersion="1.2">
	<id>${project.parent.artifactId}</id>
	<name>${project.parent.name}</name>
	<version>${project.parent.version}</version>
	<package>org.openmrs.module.operationtheater</package>
	<author>Bahmni</author>
	<description>
			${project.parent.description}
	</description>

	<activator>org.openmrs.module.operationtheater.OperationTheaterActivator</activator>

	<require_version>2.0</require_version>

	<!--<aware_of_modules>-->
		<!--<aware_of_module>org.openmrs.module.legacyui</aware_of_module>-->
	<!--</aware_of_modules>-->

	<require_modules>
		<require_module version="${webservicesRestModuleVersion}">org.openmrs.module.webservices.rest</require_module>
		<require_module version="5.7.0">org.openmrs.module.bedmanagement</require_module>
		<require_module version="${openmrsAtomfeedVersion}">org.ict4h.openmrs.openmrs-atomfeed</require_module>
	</require_modules>

	<advice>
		<point>org.openmrs.module.operationtheater.api.service.SurgicalBlockService</point>
		<class>org.openmrs.module.operationtheater.advice.SurgicalBlockAdvice</class>
	</advice>

	<advice>
		<point>org.openmrs.module.operationtheater.api.service.SurgicalAppointmentService</point>
		<class>org.openmrs.module.operationtheater.advice.SurgicalAppointmentAdvice</class>
	</advice>

	<mappingFiles>
		SurgicalAppointment.hbm.xml
		SurgicalBlock.hbm.xml
		SurgicalAppointmentAttribute.hbm.xml
		SurgicalAppointmentAttributeType.hbm.xml
	</mappingFiles>

	<messages>
		<lang>en</lang>
		<file>messages.properties</file>
	</messages>
	<messages>
		<lang>fr</lang>
		<file>messages_fr.properties</file>
	</messages>
	<messages>
		<lang>es</lang>
		<file>messages_es.properties</file>
	</messages>
	<globalProperty>
		<property>obs.conceptMappingsForOT</property>
		<defaultValue></defaultValue>
		<description>Comma separated source:code key value pairs of concept mappings for getting observations to be displayed in the OT module List view.
			For example, if we want to get the observations captured under the concept mappings, one with the source "org.openmrs.module.emrapi" and code "Coded Diagnosis" and other with the source "org.openmrs.module.emrapi" and code "Non-coded Diagnosis"
			then we can set the value like "org.openmrs.module.emrapi:Coded Diagnosis,org.openmrs.module.emrapi:Non-coded Diagnosis" (without quotes).
			The key value pair of source and code is separated by colon symbol</description>
	</globalProperty>
</module>

